{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<header>
    <a>Listes</a>
    <a href="{{ path('app_article_index') }}">Produits</a>
</header>

<div class="new">
    <h1>Créer une nouvelle liste</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>

<div class="statistique-container">
    <div class="statistique-left">
        <h1>Statistique générale</h1>

        <p>Le prix le plus élevé : {{ prix_max }}</p>
        <p>Le prix le plus bas : {{ prix_min }}</p>
        <p>Le prix moyen : {{ avg }}</p>
        <p>Somme dépensée : {{ total }}</p>
        <p>Depense par type de produit : </p>
        
            {% for expense in expensesByType %}
                <p>{{ expense.Type }} : {{ expense.total }} €</p>
            {% endfor %}
     </ul>
    </div>
    <div class="statistique-right">
        <canvas id="myChart" style="width:100%;max-width:400px"></canvas>
    </div>
</div>

<script>
const xType = [];
const yPrice = [];
const barColors = ["red", "green", "blue", "orange", "brown"];
{% for expense in expensesByType %}
    xType.push("{{ expense.Type }}");
    yPrice.push("{{ expense.total }}");
{% endfor %}

new Chart("myChart", {
    type: "doughnut",
    data: {
        labels: xType,
        datasets: [{
            backgroundColor: barColors,
            data: yPrice
        }]
    },
    options: {
        title: {
            display: true,
            text: "Dépense par type de produit"
        }
    }
});
</script>

<div class="courses">
    <h1>Vos listes de courses !</h1>
    {% set counter = 1 %}
    {% for liste in app.user.getListes() %}
        <div class="liste-courses">
            <table>
                <tr>
                    <td>{{ counter }}</td>
                    <td>{{ liste.getNomListe() }}</td>
                    <td>
                        <a href="{{ path('app_liste_show', {'id': liste.id}) }}">Voir</a>
                        <a href="{{ path('app_liste_edit', {'id': liste.id}) }}">Modifier</a>
                        <a href="#" onclick="event.preventDefault(); if (confirm('Are you sure?')) { document.getElementById('remove-list-form-{{ liste.id }}').submit(); }">Supprimer</a>
                        <form id="remove-list-form-{{ liste.id }}" action="{{ path('app_remove_from_list', {'listeId': liste.id}) }}" method="post" style="display: none;">
                            <input type="hidden" name="_method" value="POST">
                            <input type="hidden" name="_token" value="{{ csrf_token('remove-list' ~ liste.id) }}">
                        </form>
                    </td>
                </tr>
            </table>
            {% set counter = counter + 1 %}
        </div>
    {% endfor %}
</div>

{% endblock %}
