{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class = "new-article">
    <h1>Créer un nouvel article</h1>
    <div class = "formulaire">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    </div>

    <div id="new">
        <a href="{{ path('app_article_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
